<div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h2 th:if="${people.empty}">No people yet!</h2>
        <div th:if="${!people.empty}">
            <h2>People</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Temperature in the City</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${people}">
                    <td th:text="${person.name}"></td>
                    <td th:text="${person.city}"></td>
                    <td th:text="${person.tempInCity()}"></td>
                    <td><a th:href="@{/people/delete/{id}(id=${person.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary btn-lg active" href="/people/add">Add a new person</a>
    </div>